.indicateurcontainer
{
    border-style: solid;
    border-width: 1px;
    max-width: 600px;
    padding: 10px 50px;
}

#f
{
    font-weight: bold;
    color: red;
    float: right;
    position: relative;
}
