.indicateurcontainer
{
    border-style: solid;
    border-width: 1px;
    max-width: 600px;
    min-width: 400px;
    padding: 10px 50px;
}

.indicateurname
{
    margin: 10px;
}

#f
{
    font-weight: bold;
    color: red;
}

.slide-value
{
    float: right;
    position: relative;
}
