.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%; /* Full-width */
    height: 20px;
    border: 2px solid #1074bd;
    border-radius: 10px;
    background-color: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border: 3px solid #1074bd;
    border-radius: 50%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border: 3px solid #1074bd;
    border-radius: 50%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.range-min, .range-max { display: inline-block; color: #1074bd; text-align: center; font-size: 18px; font-weight: 700; }






div#pricing-select {
    margin-top: 20px;
    padding-bottom: 40px;
}
.container-narrow {
    position: relative;
}
.wrapper, .container-narrow {
    clear: both;
    display: block;
    margin: 0 auto;
        margin-top: 0px;
    width: 1024px;
}
.global-container { color: #393939; }
.wraporama > div { line-height: 3.5rem; }
*, ::before, ::after {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
div#pricing-select div.min {
    width: 74px;
    height: 60px;
    margin-top: 50px;
    margin-left: 90px;
    float: left;
    vertical-align: middle;
}
div#pricing-select div.min, div#pricing-select div.max {
    position: relative;
    background-repeat: no-repeat;
}
html {
    font: .875em / 1.4285714285714286 Asap,arial,sans-serif;
        line-height: 1.42857;
/*    color: #fff;*/
}
html {
    font-family: Asap,arial,sans-serif;
    -webkit-text-size-adjust: none;
}
div#pricing-select div.max {
    width: 186px;
    height: 172px;
    float: right;
    vertical-align: middle;
}
div#pricing-select div.min span.value {
    margin-top: 90px;
}
div#pricing-select div.min span.value, div#pricing-select div.max span.value {
    text-align: center;
    display: block;
    color: #1074bd;
    font-weight: 700;
    font-size: 18px;
}
div#pricing-select div.max span.value {
    margin-top: 140px;
}
div#pricing-select div.range {
    width: 65%;
    height: 172px;
    vertical-align: top;
    margin-left: 170px;
    padding-top: 70px;
}
div#pricing-select div.range div#input-range {
    position: relative;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: white;
    height: 20px;
    width: 100%;
    vertical-align: top;
    border: 2px solid #1074bd;
    outline: none;
}
div#pricing-select div.range div#input-range div.jauge {
    width: 0;
    height: 12px;
    background-color: #1074bd;
    border-radius: 6px;
    margin-top: 2px;
    margin-left: 2px;
}
div#pricing-select div.range div#input-range div#cursor {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    background-color: white;
    border: 3px solid #1074bd;
    border-radius: 50%;
    margin-top: -24px;
    margin-left: -18px;
    transition: .2s background-color;
    -webkit-transition: .2s background-color;
}
div#pricing-select div.range div#input-range div#cursor::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #1074bd;
    border-radius: 50%;
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    transition: .2s background-color;
    -webkit-transition: .2s background-color;
}
div#pricing-select div.range div.range-label {
    background-color: #1074bd;
    width: 90px;
    height: 25px;
    position: absolute;
    margin-top: 25px;
    margin-left: -45px;
    text-align: center;
    color: white;
    font-weight: 700;
    line-height: 25px;
}
div#pricing-select div.range div.range-label::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent #1074bd;
    left: 50%;
    top: -9px;
    margin-left: -10px;
    position: absolute;
}
