ul.horizontal { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; font-family: Verdana,sans-serif; font-size: 15px; line-height: 1.5; z-index: 100; position: fixed; top: 0; left: 0; right: 0; }
ul.horizontal li { float: left; }
