.ship {
    text-align: center;
    font-size: 0.5em;

    /*legend*/
    color: white;
}
.ship svg {
    /*display: block;*/
    zoom: 0.5;
    width: 24px;
    height: 34px;
}
.ship g {
    opacity: 0.75;
}
.ship path {
    fill: #fff;
}